<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ADDITION | ONLINE CALCULATOR</title>
  <link rel="stylesheet" href="public/css/custom.css">
</head>
<body>
<h1>ADDITION!</h1>
<form action="/calculate_addition" method="POST">
  <input type="number" name="first_number" placeholder="1st number"> +
  <input type="number"name="second_number" placeholder="2nd number">
  <button type="submit">Calculate!</button>
</form>
</body>
</html>
